<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Appointments</title>
</head>
<body>
    <%- include("header") %>
    <h1>All appointments</h1>
    <% appointments.forEach(appointment => {%>
        <form action="appointments/cancel" method="POST">
            <input type="hidden" name="id"  value="<%=appointment.id %>">
            <li>Patient Name: <%=appointment.pfirst %> <%=appointment.plast %> </li>
            <li>Doctor Name: <%=appointment.dfirst %> <%=appointment.dlast %>, <%=appointment.department %> department</li>
            <li>Appointment is at: <%=appointment.time.slice(0, 5) %> on <%=appointment.date.toString().slice(4, 15) %></li>
            
            <% if(appointment.is_cancelled){ %>
               <li><b>Appointment has been cancelled</b></li> 
            <% } else if(appointment.appointment_attended){ %>
                <li><b>Appointment was attended</b></li> 
            <% } else { %>
                <input type="submit" value="Cancel Appointment" />
                <% if(account_type === "doctor"){ %>
                <input type="submit" formaction="/appointments/attended" value="Appointment Attended" />
                <% } %>
            <% } %>
        </form>
        <br>
    <%})%>
</body>
</html>